<!DOCTYPE html>

<html lang="vi">

<head>
    <meta charset="utf-8" />
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.css" rel="stylesheet" />
    <!-- MDB -->

    <link rel="stylesheet" href="css/studentpage.css">
    <style>
    </style>
</head>

<body>

    <header class="">
        <div>
            <!-- Navbar -->
            <!--Main Navigation-->
            <!-- Navbar -->
            <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
                <!-- Container wrapper -->
                <div class="container-fluid">


                    <!-- Brand -->
                    <div class=" col-2 ">
                        <a class="navbar-brand" href="#">
                            <img src="img/Logo.png" height="25" alt="MDB Logo" loading="lazy" />
                        </a>
                    </div>
                    <!-- Search form -->
                    <form class="d-none d-md-flex input-group w-auto my-auto">
                        <input autocomplete="off" type="search" class="form-control rounded"
                               placeholder='Search (ctrl + "/" to focus)' style="min-width: 225px;" />
                        <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
                    </form>

                    <!-- Right links -->
                    <button type="button" class="btn btn-success btn-rounded px-3 pe-3 text-center btn-login navbar-nav ms-auto d-flex flex-row"
                            data-mdb-ripple-color="dark" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
                        Login
                    </button>
                </div>
                <!-- Container wrapper -->
            </nav>
        </div>
        <!-- Navbar -->
    </header>


    <div class="d-flex flex-row mw-100 mt-5 p-3 justify-content-center align-items-center">
        <div class="col-12 w-75 h-25 mx-5">
            <!--Right-->
            <div class="d-flex flex-column align-items-center">
                <div class="">
                    <h1>Chương trình trải nghiệm</h1>
                </div>
                <div class=" d-flex  justify-content-around  flex-lg-row flex-sm-column mw-100  align-items-start h-50">

                    <div class="col-3 h-100 border-top border-1 ">
                        <img class="w-100 h-75 rounded-4" src="https://mdbcdn.b-cdn.net/img/new/standard/city/047.webp" />
                        <h5 class="w-100 content">Title </h5>
                        <p class="w-100 content">Description Description Description Description Description  </p>
                        <a href="#">xem thêm</a>
                    </div>
                    <div class="col-3 h-100 border-top border-1">
                        <img class="w-100 h-75 rounded-4 " src="https://mdbcdn.b-cdn.net/img/new/standard/city/047.webp" />
                        <h5 class="w-100 content">Title </h5>
                        <p class="w-100 text-wrap content ">
                            Description Descri Sption Descr iption. Description Description
                            Description Description Description Description Description Description Description Description
                            Description Description Description
                        </p> <a href="#">xem thêm</a>

                    </div>
                    <div class="col-3 h-100 border-top border-1">
                        <img class="w-100 h-75 rounded-4" src="https://mdbcdn.b-cdn.net/img/new/standard/city/047.webp" />
                        <h5 class="w-100 content">Title </h5>
                        <p class="w-100 content">Description </p>
                        <a href="#">xem thêm</a>
                    </div>

                </div>
                <div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>


            <div class="d-flex flex-column align-items-center">
                <div class="">
                    <h1>Chương trình trao đổi sinh viên</h1>
                </div>
                <div class=" d-flex  justify-content-around  flex-lg-row flex-sm-column mw-100  align-items-start h-50">

                    <div class="col-3 h-100 border-top border-1 ">
                        <img class="w-100 h-75 rounded-4" src="https://mdbcdn.b-cdn.net/img/new/standard/city/047.webp" />
                        <h5 class="w-100 content">Title </h5>
                        <p class="w-100 content">Description Description Description Description Description  </p>
                        <a href="#">xem thêm</a>
                    </div>
                    <div class="col-3 h-100 border-top border-1">
                        <img class="w-100 h-75 rounded-4 " src="https://mdbcdn.b-cdn.net/img/new/standard/city/047.webp" />
                        <h5 class="w-100 content">Title </h5>
                        <p class="w-100 text-wrap content ">
                            Description Descri Sption Descr iption. Description Description
                            Description Description Description Description Description Description Description Description
                            Description Description Description
                        </p> <a href="#">xem thêm</a>

                    </div>
                    <div class="col-3 h-100 border-top border-1">
                        <img class="w-100 h-75 rounded-4" src="https://mdbcdn.b-cdn.net/img/new/standard/city/047.webp" />
                        <h5 class="w-100 content">Title </h5>
                        <p class="w-100 content">Description </p>
                        <a href="#">xem thêm</a>
                    </div>

                </div>
                <div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>






        </div>
    </div>



    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted clearfix">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>



            <div>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->
        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>Company name
                        </h6>
                        <p>
                            Here you can use rows and columns to organize your footer content. Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Products
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Angular</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">React</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Vue</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Laravel</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Pricing</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Settings</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Orders</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Help</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            info@example.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                        <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <!--Main Navigation-->
    <!--Main layout-->
    <main style="margin-top: 58px;">
        <div class="container pt-4"></div>
    </main>
    <!--Main layout-->
    <!--- Modal -->
    <div class="modal top fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="false">
        <div class="modal-dialog   modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <form action="">
                    <div class=" text-center col-12">
                        <img class="mt-5" src="img/Logo.png" alt="logo">
                        <p class="mt-3 mb-0">FPT Education</p>
                        <p>International Cooperation</p>
                        <div class=" p-3 ">
                            <select class="w-5 p-1 rounded-3" name="" id="">
                                <option value="">Select Campus</option>
                            </select>
                        </div>

                        <div class="p-3 ">
                            <a class="btn btn-primary btn-rounded text-center btn-login" asp-area="" asp-controller="Home" asp-action="HomePage">
                                <i class="fab fa-google-plus-g fa-2x"></i> &nbsp;&nbsp;&nbsp; Login with Google
                            </a>
                        </div>


                    </div>
                </form>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
    <!--End Modal-->


    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>


</html>